<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Marek Suchánek">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar fixed-top navbar-dark bg-primary">
      <span class="navbar-brand">
        <img src="static/img/dsw-logo.svg" alt="DS Wizard logo">
        <%= htmlWebpackPlugin.options.title %>
      </span>
    </nav>

    <main role="main" id="main">
      <div id="results-bar">
        <div class="my-container row">
          <div class="col">
            Total costs:<br><span class="total-lifetime">N/A</span>&nbsp;&euro;
          </div>
          <div class="col">
            TB costs per year:<br><span class="total-perYear">N/A</span>&nbsp;&euro;
          </div>
          <div class="col">
            <div class="toggle-more" data-toggle="collapse" data-target="#x-results" aria-expanded="false">
              <span>Result details</span><br><span class="chevron chevron-down"><i class="fas fa-chevron-down"></i></span><span class="chevron chevron-up"><i class="fas fa-chevron-up"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div id="x-inputs" class="my-container"></div>
      <div id="x-results" class="collapse"></div>
    </main>
    <footer class="my-container">This service provides simple estimation of storage costs based on desired properties and local/actual configuration. Calculation methodology was made by Rob Hooft from <a href="https://www.dtls.nl" target="_blank">DTL (NL)</a> and designated as valid in 2019. For more information, visit <a href="https://ds-wizard.org">ds-wizard.org</a> or <a href="https://github.com/ds-wizard/storage-costs-evaluator">our GitHub</a>.</footer>
  </body>
</html>
