* {
    font-family: 'Ubuntu', sans-serif;
}
code {
    font-family: monospace;
}
body {
    padding-bottom: 0.2em;
}

nav.navbar {
    margin-bottom: 0.6em;
}
.navbar-brand > img {
    max-height: 1.5em;
    max-width: 3em;
}

div.input-group-append > select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

div.card-header > h2{
    float:left;
}
div.card-header > .info-box {
    padding: .375rem .75rem;
    line-height: 1.5;
    vertical-align: middle;
    float:right;
}

table.table-result-parts > thead {
    display: none;
}
table.table-result-parts > tbody > tr > td.value {
    text-align: right;
}
table.table-result-parts > tbody > tr > td.unit {
    width: 13ch;
}
table.table-result-parts > tbody > tr.row-subtotal {
    background-color: rgba(0,0,0,.03);
}

div#middle-row > div.col-sm {
    text-align: center;
}
div#middle-row span.total-lifetime,
div#middle-row span.total-perYear {
    font-weight: bold;
}
